*{
    margin: 0;
    padding: 0;
}

    .calculadora div:nth-child(1){
    display: flex;
    border: 2px, black;
    background-color: #a52a2a;
    justify-content: center;
    height: 60px;
    width: 1000px;
    align-items: center;  
}
.calculadora div:nth-child(2){
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(218, 9, 9);
    width: 1000px;
    height: 60px;
    /* margin: 2px; */
    } 

.visor{ 
    background-color: rgb(221, 15, 15);
    margin: 2px;
    width: 300px;
    height: 60px;
    }
.calculadora{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    width: 16vw;
    height: 60vh;
    padding: 15px;
    margin: 5px;
}

.botao{
    height: 50px;
    width:  50px;
    background-color: antiquewhite;
    margin: 3px;
    padding: 1px;
}


.calculadora div:nth-child(18){
    padding: 1px;
    /* flex-basis: 100px; */
    height: 50px;
    width:  108px;
    background-color: rgb(226, 135, 16);
    margin: 3px;
    /* flex-grow: 1; */
    /* align-self: start; */

}

.calculadora div:nth-child(19){ 
    padding: 1px;
    margin: 3px;
    height: 50px;
    width:  50px;
    background-color: rgb(207, 22, 124);
    /* flex-grow: 1; */
    /* flex-basis: 108px;  */
}

.calculadora div:nth-child(20){
    /* padding: 1px; */
    height: 108px;
    width:  50px;
    background-color: rgb(73, 12, 241);
    margin: 3px;
    /* align-self: self-start; */
    /* flex-grow: 1; */
}